    <div class="container-fluid">

        <form>
            
        <div class="row">
            <div class="col">
                <label >Name
                    <br>
                    <input #newName class="form-control" placeholder="Name" id="iName" type="text"><br>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label >Description
                    <br>
                    <input #newDescription class="form-control" placeholder="Description" id="iDescription" type="text"><br>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label >ImageURL
                    <br>
                    <input #newImageURL class="form-control" placeholder="ImageURL" id="iImageURL" type="text"><br>
                </label>
            </div>
        </div>

        <div class="row">   
            <!-- <button type="button" (click)="addVl(newName.value,newDescription.value,newImageURL.value)"  class="btn btn-primary">ADD2</button> -->

        </div>
        
    </form>
    </div>

    